@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

h1 {
    font-size: 62px;
    color: #1a202c;
    text-align: left;
}

p {
    font-size: 24px;
    color: #718096;
    line-height: 1.9;
}

.purple {
    color: #6415ff;
}

.purple__text{
    color: #6415ff;
    font-weight: bold;
    font-size: 24px;
}
.learn__button {
    background-color: #6415ff;
    width: 200px;
    font-weight: 600;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 9999px;
    color: #f7fafc;
    padding: 16px 32px;
    
}


.nav__button:hover,
.email__button:hover,
.learn__button:hover {
    background-color: rgb(80 17 204);
    color: rgb(237 242 247);
    transition: all 300ms ease;
}

 /* NAV */
.nav__logo {
    width: 40px;
    margin: 0 12px 0 0;
}
input {
    border: none;
    margin-left: 24px;
}
.nav__container {
    display: flex;
    margin-top: 32px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 32px;;
}
.treact {
    width: 24%;
    display: flex;
    align-items: center;
    margin-left: 24px;
}
.window__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 24px;

}
.logo__text {
    font-size: 32px;
    color: #243e63;
    margin: 0 24px 0 0;
    font-weight: bold;
}

.row {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;


}
button {
    cursor: pointer;
}
.nav__link {
    font-size: 16px;
    color: #243e63;
    margin: 16px;
    font-weight: bold;
}


.nav__button {
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 32px;
    color: #f7fafc;
    font-size: 16px;

}
.header__img {
    width: 100%;
}

.btn__menu {
    background-color: transparent;
    font-size: 24px;
    text-align: center;
    border: none;
    color: #6415ff;
    display: none;
}
.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}
.menu__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #cbd5e0;
    border-radius: 12px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;

    margin: 1.5rem 1rem;
    padding: 2rem;
}
.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}
.menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.menu__link {
    color: #1a202c;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: .025em;
}
.menu__link:hover {
    color: #6415ff;
    padding-bottom: .25rem;
    border-bottom: 3px solid #6415ff;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition: all 300ms;

}

.btn__menu--close {
    position: absolute;    
    right: 20px;
    top: 10px;
    padding: 8px;
}

/* LANDING */

.landing__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}
.left__container {
    width: 40%;
    height: 100%;
    padding: 24px;
    margin: 24px;
}

.email__button {
    background-color: #6415ff;
    border-radius: 9999px;
    color: #f7fafc;
    font-size: 16px;
    padding: 16px 24px;
    font-weight: bold;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition: all 300ms ease;

}

.customers {
    margin-top: 32px;
    display: flex;
    flex-direction: column;

}
.customer__text {
    font-size: 16px;
    color: #a0a2c0;
    text-decoration: none;
}
.customerlogo__img {
    width: 100%;
    filter: grayscale(1) invert(1);
    margin-top: 16px;
}

.email__wrapper {
    display: flex;
    align-items: center;
}
.getStarted {
    padding: 8px 8px;
    border: 2px solid rgb(226, 232,240);;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
}

.email__paragraph {
    margin: 32px 0;
    font-size: 16px;
    font-weight: 500;
    color: #243e63;
}
.right__container {
    width: 60%;
    height: 100%;

}

/* SERVICES */

.service__text {
    text-align: center;
}
.features__text {
    margin-bottom: 24px;
}

.container {
    padding: 80px 40px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 16px;
}
.service__img {
    padding-top: 16px;
}

.service__imgs {
    border: 1px solid #718096;
    border-radius: 50%;
    border-width: 1px;
    padding: 1.25rem;
}

.title { 
    font-size: 24px;
    margin-bottom: 16px;
}
.service__text {
    margin: 24px;
}
.service__container {
    display: flex;
    width: calc(100% / 3);
    padding: 32px 8px;
}
.service__description {
    display: flex;
    flex-direction: column;
    margin: 8px 0px 0px 16px;
}

.title__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 96px 0px 96px;

}

/*  DESIGNS */

.design__window1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 32px;
}
.design__window2 {
    width: 50%;
}
.design__text {
    font-weight: 600;
}
.design__header {
    font-size: 56px;
    color: #243e63;
    font-weight: bold;
    margin: 16px 0px 0px;

}
.design__subtitle {
    margin: 16px 64px 0 0;
}

.design__button {
    margin: 32px 0 0;
}

.design__image {
    width: 100%;
}

/*  STEPS */


.steps__image {
    width: 100%;
}

.steps__window1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.steps__window2 {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.steps__numbers {
    display: flex;
    margin: 32px 0;
}

.steps__columns {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 32px;

}

.windows2__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

.steps__header {
    margin: 16px 0;
}

.number__text {
    color: #cbd5e0;
    font-size: 48px;
}

.column__sub--text {
    font-size: 18px;
    color: #718096;
    margin-top: 16px;
    font-weight: bold;

}

/*  VALUES */

.value__image {
    width: 100%;
}

.value__window1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.value__window2 {
    width: 50%;
}

.value__window1--subwindow {
    display: flex;
    align-items: center;
}
.brief__text,
.border__text {
    font-size: 28px;
    font-weight: bold;
    color: #243e63;
}

.border__text {
    margin-top: 20px;
}
.brief__case, 
.dollar__sign {
    font-size: 24px;
    margin-right: 30px;
}

.dollar__sign {
    border: 16px solid #9ae6b4;
    background-color: #9ae6b4;
    border-radius: 50%;
}
.brief__container,
.dollar__container {
    display: flex;
    padding: 32px 0 24px;
}
.brief__img {
    color: rgb(155, 44, 44);
}
.value__window1--subwindow {
    display: flex;
}
.value__wrapper {

    display: flex;
    flex-direction: column;
    padding: 0 32px;
}
.border__text--wrapper {
    display: flex;
}

.icon__paragraph {
    line-height: 1.3;
}

.value__wrapper2 {
    display: flex;
    flex-direction: column;
}
.brief__case {
    margin-top: 12px;
    border: 16px solid #feb2b2;
    background-color: #feb2b2;
    border-radius: 50%;
}

.brief__text {
    padding-top: 24px;
}
.value__button {
    margin-top: 72px;
}
 /* Plans */
.plans {
    display: flex;
    flex-wrap: wrap;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border: 1px solid rgba(0,0,0,.1);
    margin: 64px 32px;
    border-radius: 8px;
 }
 .plan__container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 96px 24px;
 }
 .plans__header {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .plan__header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 32px 0px;      
 }

 .plan__title {
    font-size: 32px;
    font-weight: 600;
 }

 .plan__price {
    padding: 24px 0;
    font-size: 48px;
    font-weight: bold;
 }

.plan__monthly {
    font-size: 20px;
    font-weight: bold;
 }
 .monthly__grey {
    color: #a0a2c0;
 }


.plan__body--title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 16px;
}
.plan__body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;

}
.body__gradient {
    border: 1px solid rgba(0,0,0,.1);
    padding: 32px 54px;
    border-left: none;
    border-right: none;
}
.body__red {
    border: 1px solid rgba(0,0,0,.1);
    padding: 32px 32px;
    border-left: none;
    border-right: none;
}
.plan__para {
    width: 50%;
}
.price__text {
    padding: 24px;
}

.plan__footer {
    padding: 32px 52px;
    display: flex;
    align-items: center;
}
.plan__button {
    width: 200px;
    font-weight: 600;
    font-size: 24px;
    border-radius: 9999px;
    padding: 24px 32px;
    border: none;
}
.plan__button--teal {
    position: relative;
    color: #f7fafc;
    background-color: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    
}
.plan__button--blue:hover,
.plan__button--red:hover,
.plan__button--teal:hover {
    transition: all 300ms ease;
    box-shadow: 10px 21px 25px rgba(0,0,0,0.1), 0 25px 15px 5px rgba(0,0,0,0.04);
    transform: translateX(1px) translateY(-1px);
}
.plan__button--red {
    color: #f7fafc;
    background-color: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


.plan__body--text {
    padding: 12px;
    font-size: 24px;
}
.body__text--grey {
    color: #718096;
}
.border__gradient {
    width: 100%;
    height: .5rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;    
}

.border__gradient--teal {
    background-color: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);

}
.border__gradient--red {
    background-color: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);

}
.border__blue {
    background-color: #6415ff;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);;

}

.plan__blue {
    background-color: #6415ff;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);;
    border: 1px solid (226, 232, 240);
}
.body__blue {
    border: 2px solid rgba(180, 199, 250, 0.4);
    border-left: none;
    border-right: none;
    padding: 32px 24px;
}


.plan__title--white,
.price__white,
.monthly__white,
.body__title--white {
    color: #f7fafc;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}

.body__text--white {
    color: white;
    text-shadow:
    1px 1px 0 #646363,
    -1px 1px 0 #646363,
    -1px -1px 0 #646363,
    1px -1px 0 #646363;
}
.plan__button--blue {
    color: #6415ff;
}

/* DEVELOPER */

.developer__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.developer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 232, 240);
    background-image: linear-gradient(135deg, rgb(100, 8, 248) 0%, rgb(78, 8, 241) 100%);
    border-radius: 24px;
    margin: 32px;
}

.developer__text {
    color: #f7fafc;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.45;
}
.developer__wrapper {
    display: flex;  
    justify-content: space-between;
}

.developer__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 44px;
}

.developer__button {
    color: white;
    width: 200px;
    font-weight: 600;
    font-size: 24px;
    border-radius: 9999px;
    padding: 24px 32px;
    border: none;
    margin: 16px;
}

.get__started { 
    background-color: #f56565;  
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
}
.get__started:hover {
    background-color: rgb(229 62 62);
}
.contact__us {
    background-color: rgb(226, 232, 240);
    background-image: linear-gradient(135deg, rgb(100, 8, 248) 0%, rgb(78, 8, 241) 100%);
    border: 1px solid rgb(160, 174, 192);
}
.contact__us:hover {
    background-color: #f7fafc;
    color: #6415ff;
    border: none;
    background-image: none;
}

/* FOOTER */
.footer__row {
    padding-top: 128px;
}

.footer__container {
    background-color: rgb(226, 232, 240);
    background-image: linear-gradient(135deg, rgb(100, 8, 248) 0%, rgb(78, 8, 241) 100%);
    border: 2px solid (226, 232, 240);
}
.footer__columns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__column {
    display: flex;
    flex-direction: column;
    padding-right: 40px;

}
.footer__title {
    color: #f7fafc;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 24px;
}
li {
    text-decoration: none;
    padding-top: 24px;
    list-style-type: none;

}

.footer__link {
    color: #f7fafc;
    font-size: 18px;
    font-weight: bold;;
    padding-bottom: .25rem;
}
.footer__link:hover {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    border-bottom: 4px solid white
}

.copyright__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 232, 240);
    background-image: linear-gradient(135deg, rgb(100, 8, 248) 0%, rgb(78, 8, 241) 100%);
    padding: 48px 24px 80px 24px;
    border: 2px solid rgba(180, 199, 250, 0.2);
    border-left: none;
    border-right: none;
    border-bottom: none;

}

.footer__logo {
    width: 15%;
    margin-left: 24px;
}
.treact__text {
    text-wrap: nowrap;
    color: #f7fafc;
    font-size: 20px;
    font-weight: bold;
    margin-left: 16px;
}
.footer__logo--wrappper {
    width: 20%;
    display: flex;
    align-items: center;
}

.copyright {
    color: #f7fafc;
    font-size: 20px;
}
.twitter__link,
.youtube__link,
.fb__link {
    color: #000;
    margin: 12px;
    background: #f7fafc;
}

.twitter__link,
.youtube__link {
    border-radius: 9999px;
    font-size: 24px;
    border: 12px solid #f7fafc;
}
.fb__link {
    font-size: 16px;
    border-radius: 9999px;
    border: 17px solid #f7fafc;
}
.youtube__link:hover,
.twitter__link:hover {
    border-color: #cbd5e0;
    background: #cbd5e0;

}
.fb__link:hover {
    border-color: #cbd5e0;
    background: #cbd5e0;
}
@media (min-width: 1024px) {
    .menu__backdrop {
        display: none;
    }
}
@media (max-width: 1000px) {

    .nav__links {
        display: none;
    }
    .btn__menu {
        display: block;
    }
    .landing__container {
        flex-wrap: wrap;
        padding: 12px;  
    }
    .left__container {
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    .landing__title {
        font-size: 28px;
    }
    .features__title {
        font-size: 48px;
    }
    .features__text {
        font-size: 18px;
    }
    .title__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 0;
    }
    .email__paragraph {
        text-align: center;
    }
    .email__button {
        width: 10rem;
        padding: 16px;
    }
    .input {
        width: 90%;
        color: rgb(226, 232,240);
    }

    .service__text { 
        font-size: 16px;
    }
    .email__wrapper {
        width: 10rem;
    }
    .left__container {
        flex-wrap: wrap;
    }
    .service__container {
        width: 50%;
    }
    .subtitle {
        font-size: 16px;
    }
    .service__img {
        padding: 12px;
    }

    .design__window1, .design__window2 {
        width: 70%;
    }

    .design__header {
        font-size: 38px;
        text-align: left;
        width: 70%;
        
    }
    .design__subtitle {
        margin: 16px 0;
        text-align: left;
        width: 80%;
    }
    .steps__window1 {
        margin-bottom: 64px;
    }
    .steps__window2 {
        width: 65%;
    }
    .steps__header {
        font-size: 38px;
    }
    .column__text {
        font-size: 18px;
    }
    .column__sub--text {
        font-size: 14px;
    }
    .steps__columns {
        width: 70%;
    }
    .number__text {
        font-size: 32px;
    }
    .value__title {
        font-size: 38px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .value__subtitle {
        font-size: 18px;
    }
    .value__window1--subwindow {
        flex-direction: column;
    }
    .value__wrapper {
        padding: 0;
    }

    .icon__paragraph {
        font-size: 18px;
    }
    .border__text, .brief__text {
        font-size: 24px;
    }
    .value__title {
        font-size: 48px;
    }
    .plan__para {
        width: 70%;
    }
    .price__text { 
        font-size: 18px;
        padding: 0;
    }
    .plans {
        flex-direction: column;
    }
    .developer__container {
        width: 90%;
    }
    .developer__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .developer__text {
        font-size: 30px;
        width: 60%;
        text-align: center;
        padding-bottom: 24px;
    }
    .footer__column {
        padding-bottom: 24px;
    }
    .footer__title {
        font-size: 16px;
        padding-bottom: 0;
    }
    .footer__link {
        font-size: 14px;
    }
    .treact__text {
        font-size: 16px;
    }
    .copyright {
        font-size: 14px;
    }
    .twitter__link,
    .youtube__link {
    font-size: 12px;

    }
    .fb__link {
     font-size: 14px;
     border: 10px solid #f7fafc;
     border-radius: 60%;
    }
    .social__links {
        margin: 6px;
    }    
    .footer__logo {
        width: 32px;
    }
}
@media (max-width: 640px) {
    .left__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .email__wrapper {
        padding-top: 24px;
        width: 90%;
    }
    .getStarted {
        display: flex;
        flex-direction: column;
        border: none;
    }
    .email__button {
        width: 100%;
    }
    .email__input {
        width: 90%;
        border: 4px solid rgb(226, 232,240);
        border-radius: 32px;
        padding: 16px 24px;
        margin: 0;
        color: rgb(226, 232,240, .2);
        font-size: 18px;
    }
    .customers {
        align-items: center;
    }
    .features__title {
        font-size: 34px;
    }
    .service__text {
        font-size: 14px;
        margin: 12px;
    }
    .services {
        flex-direction: column;
        align-items: center;
    }
    .service__container {
        flex-direction: column;
        align-items: center;
        width: 70%;
    }
    .service__description {
        align-items: center;
    }
    .subtitle {
        text-align: center;
    }
    .design__container {
        flex-direction: column-reverse;
    }
    .design__window1 {
        align-items: center;
        width: 90%;
    }
    .design__header {
        font-size: 28px;
        text-align: center;
    }
    .design__subtitle {
        font-size: 14px;
    }
    .steps__container {
        flex-direction: column;
    }
    .steps__window2 {
        width: 60%;
    }
    .windows2__wrapper {
        align-items: center;
        justify-content: center;
    }
    .steps__header {
        text-align: center;
        font-size: 28px;
    }
    .steps__numbers {
        flex-direction: column;
        align-items: center;
    }
    .column__text {
        text-align: center;
        padding-top: 12px;
    }
    .column__sub--text {
        text-align: center;
        font-size: 12px;
    }
    .value__container {
        flex-direction: column-reverse;
    }
    .value__window1, .value__window2 {
        width: 90%;
    }
    .value__window2 { 
        padding-bottom: 64px;
    }
    .value__window1 {
        align-items: center;
    }
    .value__text {
        font-size: 18px;
    }
    .value__title {
        font-size: 30px;
        text-align: center;
    }
    .value__subtitle {
        font-size: 14px;
        text-align: center;
        padding-top: 24px;
    }
    .brief__container,
    .dollar__container {
        display: flex;
        justify-content: center;
    }
    .dollar__sign {
        border: 10px solid #9ae6b4;
        background-color: #9ae6b4;
        border-radius: 50%;
    }
    .brief__case {
        border: 10px solid #feb2b2;
        background-color: #feb2b2;
    }
    .icon__paragraph, .brief__paragraph {
        width: 70%;
        text-align: center;
        font-size: 16px;
    }
    .value__wrapper, .value__wrapper2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .border__text, .brief__text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .learn__button {
        font-size: 14px;
        width: 30%;
        padding: 12px 32px;
    }
    .plan__para {
        width: 80%;
    }
    .plan {
        width: 100%;
    }
    .developer__text {
        width: 90%;
        font-size: 24px;
        padding-bottom: 12px;
    }
    .developer__buttons {
        flex-direction: column;
        padding: 0;
    }
    .developer__button {
        padding: 12px 24px;
        font-size: 14px;
        width: 80%;
    }
    .developer__container {
        padding: 54px 24px;
    }
    .footer__columns {
        align-items: center;
        justify-content: center;
    }
    .footer__column {
        display: flex;
        align-items: center;
        padding: 24px 16px
    }
    .footer__link {
        font-size: 14px;
    }
    .footer__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .copyright__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__logo--wrappper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        padding-bottom: 24px;
    }

    .treact__text {
        font-size: 20px;
    }
    .copyright {
        padding-bottom: 24px;
    }
}